body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #2c3e50, #3498db);
}

.link-tree {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 30%;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #3498db;
}

.profile-img:hover {
    transform: scale(1.1);
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    display: inline-block;
    margin: 15px;
    padding: 20px 40px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #2980b9;
    transform: scale(1.15);
}

@media only screen and (max-width: 600px) {
    /* Responsividade para dispositivos móveis */
    .profile-img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .link {
        padding: 15px 30px;
    }
}