body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #fddede, #fbb6c7); /* Gradient rosa moderado */
}

.link-tree {
    text-align: center;
    background-color: rgba(255, 214, 219, 0.8); /* Rosa moderado com opacidade */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 25%;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #fbb6c7; /* Cor rosa moderada para a borda */
}

.profile-img:hover {
    transform: scale(1.1);
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #744d68; /* Cor de texto mais moderada */
    margin-bottom: 10px;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    display: inline-block;
    margin: 15px;
    padding: 20px 40px;
    background-color: #fbb6c7; /* Cor rosa moderada para os links */
    color: #744d68; /* Cor de texto mais moderada */
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #fddede; /* Cor rosa mais clara ao passar o mouse */
    transform: scale(1.15);
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 10px;
}

.footer a {
    color: #9b9b9b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
    color: #744d68; /* Destaque de cor ao passar o mouse sobre o link */
}

@media only screen and (max-width: 600px) {
    /* Responsividade para dispositivos móveis */
    .profile-img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .link {
        padding: 15px 30px;
    }
}
